<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">

          <app-update-type  
               [type]="updatedType" 
               [ajout]="ajout"
               (typeUpdated)= "typeUpdated($event)"  >
         
            </app-update-type>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Catégorie</th>
                    </tr>
                </thead>
                <tbody *ngFor="let type of types">
                    <tr>
                        <td>{{type.idType}}</td>
                        <td>{{type.nomType}}</td>
                        <td><a class="btn btn-success" (click)="updateType(type)">Editer</a></td>
                        <td><a *ngIf="authService.isAdmin()"
                            class="btn btn-danger" (click)="supprimerType(type)">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
